p
{
    text-align: left;
    float:left;
    width: 80%;
}
body
{
    display: block;
    
}
.anhDZ
{
    float: left;
}
.banner
{
    display: block; margin-left: auto; margin-right: auto;
}
.star
{
    display: block; margin-left: auto; margin-right: auto;
}
.contenttrang3
{
    display: block;
    margin-left: 275px;
    text-align: center;
    font-size: 18px;
    font-family: AvenirNextLTPro-Regular;
    width: 60%;
    
}
#lh
{
    margin-right: 100px;
}
#dt 
{
    margin-right: 30px;
}
#sk
{
    margin-right: 30px;
}
#dktg
{
    margin-right: 30px;
}
#dr
{
    margin-right: 30px;
}
#vct
{
    margin-right: 30px;
}
#tc
{
    margin-right: 30px;
}
.dropdown-item
{
    font-weight: bold;
    
}

#tc:hover 
{
    background:#ffcf00;
    border-radius: 20px;
    color: white;
    transition: 0.2s;
}
#vct:hover 
{
    background:#ffcf00;
    border-radius: 20px;
    color: white;
    transition: 0.2s;
}

#dr:hover 
{
    background:#ffcf00;
    border-radius: 20px;
    color: white;
    transition: 0.2s;
}
.dropdown:hover .dropdown-menu{
    display: block;
    transition: ease-in ;
    margin-top: 10px;
  }
#dktg:hover 
{
    background:#ffcf00;
    border-radius: 20px;
    color: white;
    transition: 0.2s;
}
#sk:hover 
{
    background:#ffcf00;
    border-radius: 20px;
    color: white;
    transition: 0.2s;
}
#dt:hover 
{
    background:#ffcf00;
    border-radius: 20px;
    color: white;
    transition: 0.2s;
}
#lh:hover 
{
    background:#ffcf00;
    border-radius: 20px;
    color: white;
    transition: 0.2s;
}
.EVbanner
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 100px;
}
.contentt7
{
    text-align: left;
    float: left;
    width:40% ;
    margin-left: 100px;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.in4
{
    font-size: 25px;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 100px;
}
.form
{
    width: 444px;
    height: 41px;
    border-radius: 18px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(255,207,0);
    color: white;
    margin-left: 100px;
    font-size: 25px;
    margin-bottom: 250px;
}
.ken
{
    width: 40%;
    margin-left: 50px;
    margin-right: 100px;
    margin-bottom: 100px;
    float: right;
}

.gl9
{
    font-size: 25px;
    font-weight: bold;
    margin-left: 800px;
   
}
.text-gl9
{
    width:50%;
    float: right;
    font-size: 18px;
    margin-right: 50px;
    margin-top: 50px;

}
.form2
{
    width: 444px;
    height: 41px;
    border-radius: 18px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(255,207,0);
    color: white;
    margin-left: 200px;
    margin-top: 50px;
    font-size: 20px;
    font-size: 25px;
    margin-bottom: 300px;
}
.ken9
{
    width: 40%;
    float: left;
}
.doitac1
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-bottom: 100px;
    visibility: hidden;
}
.doitac
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-bottom: 70px;
  
}
.trang7
{
    display: block;
}
.dvtc
{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 130px;
    margin-bottom: 20px;
}
.ftu
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-bottom: 80px;
}
.nttkc
{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 130px;
    margin-bottom: 20px;
}
.nutri
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-bottom: 80px;
}
.nttv
{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 4px;
    text-align: center;
}
.aa
{
    width: 60%;
    margin-bottom: 30px;
}
.nttb
{
    font-weight: bold;
    font-size:20px;
    letter-spacing: 4px;
    text-align: center;
}
.ms
{
    width: 60%;
    margin-bottom: 30px;
}
.row1
{
    display: flex;
    position: relative;
    align-items: flex-start;
}
.column1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-bottom: 30px;
}
.column2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-bottom: 30px;
}

.nttd
{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 4px;
    text-align: center;
}
.cu
{
    width: 60%;
    margin-bottom: 30px;
}
.bttt
{
    font-weight: bold;
    font-size:20px;
    letter-spacing: 4px;
    text-align: center;
}
.yb
{
    width: 60%;
    margin-bottom: 30px;
}
.row2
{
    display: flex;
    position: relative;
    align-items: flex-start;
}
.column3
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 30px;
}
.column4
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 30px;
}

.dtcl
{
    font-weight: bold;
    font-size:20px;
    letter-spacing: 4px;
    text-align: center;
}
.column5
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 30px;
}
.to 
{
    width: 60%;
}

.trang9
{
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 293px;
    background-color: #000;
    margin-top: -120px;
}
.register
{
    flex-direction: column;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fill
{
    color:white;
    border: white solid 2px;
    border-radius: 15px;
    padding-left: 5%;
    margin-bottom: 30px;
    padding-bottom: 3%;
}
.lienhe
{
    margin-bottom: 20px;
}
.note-content
{
    padding: 20px 80px 40px 135px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 800px;
    height: 1000px;
    margin: 0 auto;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 10px;
}
.nuthan
{
    width: 180px;
    border-radius: 100%;
    display: flex;
    position: absolute;
    margin-top: 500px;
    margin-left: 200px;
    z-index: 9;

}
.note-title
{
    font-weight: bold;
    font-size: 20px;
 
}
.vongtronmauvang
{
    width: 246px;
    border-radius: 100%;
    display: flex;
    position: absolute;
    z-index: 0;
    right: -120px;
    margin-top: 400px;
    margin-right: 290px;
}
.rule
{
    align-self: flex-end;
    width: 54.79%;
    margin-right: 50px;
}
.arigatou
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.scriptrule
{
    font-size: 15px;
    margin-bottom: 18px;
}
.trang4
{
    background-color: #ffcf00;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 131px;
    margin-bottom: -125px;
}
